<form action="/buses/arrivals" method="post">
    <label for="postcode">Postcode:</label>
    <input type="text" id="postcode" name="postcode" placeholder="Type your postcode here">
    <input type="submit" value="Submit">
</form>